# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse
* @Litogin @tau27 @oldschoolotaku

# Maps
/Resources/Prototypes/Maps/** @Morb0 @DIMMoon1 @kvant8
/Resources/Maps/** @Morb0 @DIMMoon1 @kvant8
/Resources/Prototypes/_WL/Maps/** @mofkkol
/Resources/Maps/_WL/** @mofkkol

# Sprites
/Resources/Textures/** @ReArtInt @oldschoolotaku
